// Copy this next to your official VC:MP server.exe as server.cfg
//
// Plugin built from vcmp-go-server (private Safari gamemode).
// SDK: github.com/masteroz/vcmp-go-plugin
//
// Also copy beside the server binary:
//   goserver.json
//   safari.json
//   safari_maps/patrol_default.json

name Project Safari: Hydra Warfare
port 8192
maxplayers 100
password
rcon_password changeme
plugins goserver04rel64
