// Copy this next to server64.exe (Windows) or the Linux server binary as server.cfg
//
// Base server: Blank Server 64bit (August 2024)
//   http://files.thijn.ovh/download/9cedd88d75c4d0d76369b772342b4ba9/Blank%20Server%20-%209th%20August,%202024.zip
//
// Build the Safari plugin:
//   cd ../vcmp-go-plugin && .\build.ps1 -Test -StopServer
// Or from this repo: .\build.ps1
//
// Also copy beside the server binary:
//   goserver.json
//   safari.json
//   safari_maps/patrol_default.json

name Project Safari: Hydra Warfare
port 8192
maxplayers 100
password
rcon_password changeme
plugins xmlconf04rel64 announce04rel64 goserver04rel64
